@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900");

body {
  font-family: Roboto;
}

h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
}

h2 {
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;
}

h3 {
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
}

h4 {
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
}

h5 {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}

h6 {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 0;
}

.value {
  font-weight: 300;
  font-size: 10px;
  line-height: 19px;
}

.small {
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
}

.gray {
  color: #c2c2c2;
}

div.content {
  background: #f9fbff;
  border-radius: 30px;

  margin: 75px 0;
  padding: 40px 75px;
}

div.uplifeDiv {
  width: fit-content;
  margin: auto;

  background: #ffffff;
  box-shadow: 0px 4px 45px -15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 16px 40px;
  margin-bottom: 35px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;

  text-align: center;
  color: #3598db;
}

button.uplifeToGoal{
  width: fit-content;
  margin: auto;
  background: #3598db;
  box-shadow: 0px 4px 45px -15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  border: none;
  padding: 16px 40px;
  margin-bottom: 35px;

  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;

  text-align: center;
  color: #ffffff;
}

button.uplifeButton {
  padding: 17px 71px;
  width: 100%;

  background: #3598db;
  border-radius: 10px;
  border: none;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}
